html{
    /* background-color: #3D405B; */
    /* background-color: #81B29A; */
    background-color: #F2CC8F;
}

body{
    max-width: 90%;
    margin: auto;
    text-align: center;
}

.exercise-container{
    display: flex;
    gap: 20px;
    justify-content: center;
}
.exercise-button-wrapper{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.exercise-box{
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.24);
    padding: 25px;
    width: 150px;
    height: 180px;
    text-align: center;
    background-color: #f4f1dec9;
}

.exercise-title{
    color: #E07A5F;
}

a{
    color: black;
    text-decoration: none;
    font-size: 1.2em;
}

a:hover{
    text-decoration: underline;
    opacity: 0.7;
}